<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Electrician Services</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'services/service.css' %}">
</head>

<body>

<!-- HERO SECTION -->
<section class="hero">
    <div class="hero-text">
        <h1>Electrician Services</h1>
        <p>Professional electrical solutions for your home and office.</p>
    </div>
    <img src=" {% static 'images/Electrician_Service/electrician.jpeg' %}" alt="Electrician">
</section>

<!-- SERVICES LIST -->
<h2 class="section-title">Our Services</h2>

<div class="services-box">
    <ul>
        <li>Wiring & Electrical Repairs</li>
        <li>Fan & Light Installations</li>
        <li>Switchboard & Socket Fixing</li>
        <li>Inverter & UPS Setup</li>
        <li>Short Circuit Troubleshooting</li>
    </ul>
</div>

<!-- AVAILABLE ELECTRICIANS -->
<h2 class="section-title">Available Electricians</h2>

<div class="workers">

    <div class="worker-card">
        <img src="https://randomuser.me/api/portraits/men/32.jpg">
        <h3>Ramesh Kumar</h3>
        <p class="experience">5+ years experience</p>
        <span class="status available">Available</span>
        <a href="book-now" class="hire-btn">Hire Now</a>
    </div>

    <div class="worker-card">
        <img src="https://randomuser.me/api/portraits/men/45.jpg">
        <h3>Suresh Naidu</h3>
        <p class="experience">3+ years experience</p>
        <span class="status busy">Busy</span>
        <a href="#" class="hire-btn disabled">Unavailable</a>
    </div>

    <div class="worker-card">
        <img src="https://randomuser.me/api/portraits/women/44.jpg">
        <h3>Anita Sharma</h3>
        <p class="experience">4 years experience</p>
        <span class="status available">Available</span>
        <a href="#" class="hire-btn">Hire Now</a>
    </div>

    <div class="worker-card">
        <img src="https://randomuser.me/api/portraits/men/66.jpg">
        <h3>Vikram Singh</h3>
        <p class="experience">8+ years experience</p>
        <span class="status available">Available</span>
        <a href="#" class="hire-btn">Hire Now</a>
    </div>

    <div class="worker-card">
        <img src="https://randomuser.me/api/portraits/men/67.jpg">
        <h3>Raghu vanshi</h3>
        <p class="experience">3+ years experience</p>
        <span class="status available">Available</span>
        <a href="#" class="hire-btn">Hire Now</a>
    </div>

    <div class="worker-card">
        <img src="https://randomuser.me/api/portraits/men/68.jpg">
        <h3>Krishna</h3>
        <p class="experience">5+ years experience</p>
        <span class="status available">Available</span>
        <a href="#book-now" class="hire-btn">Hire Now</a>
    </div>

</div>

<a href="{% url 'book-worker'%}" class="book-btn" id="book-now">Book an Electrician →</a>

</body>
</html>
