{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Our Services</title>
    <link rel="stylesheet" href="{% static 'services/services.css' %}">
</head>

<body>

       <div class="services-container">

        <h1 class="title">Our Services</h1>

        <div class="services-grid">

            <div class="service-card">
                <img src="{% static 'images/services/electrician.jpg' %}" alt="Image not found">
                <h3>Electrician</h3>
                <p>Wiring, appliances installation, short circuit repair.</p><br>
                <a href="{% url 'Electrician' %}" class="service-btn">View More</a>
            </div>

            <div class="service-card">
                <img src="{% static 'images/services/plumber.png' %}" alt="Image not found">
                <h3>Plumber</h3>
                <p>Pipe repair, tap installation, bathroom fittings.</p><br>
                <a href="{% url 'Plumber' %}" class="service-btn">View More</a>
            </div>

            <div class="service-card">
                <img src="{% static 'images/services/Carpenter.png' %}" alt="Image not found">
                <h3>Carpenter</h3>
                <p>Furniture repair, door/window fittings.</p><br>
                <a href="{% url 'Carpenter' %}" class="service-btn">View More</a>
            </div>

            <div class="service-card">
                <img src="{% static 'images/services/mason.png' %}" alt="Image not found">
                <h3>Mason</h3>
                <p>Brickwork, plastering, tile work.</p><br><br>
                <a href="{% url 'Mason' %}" class="service-btn">View More</a>
            </div>

            <div class="service-card">
                <img src="{% static 'images/services/painter.png' %}" alt="">
                <h3>Painter</h3>
                <p>House painting, wall textures, waterproofing.</p><br>
                <a href="{% url 'Painter' %}" class="service-btn">View More</a>
            </div>

            <div class="service-card">
                <img src="{% static 'images/services/driver.png' %}" alt="Image not found">
                <h3>Driver</h3>
                <p>Car drivers, commercial drivers, delivery drivers.</p><br>
                <a href="{% url 'Driver' %}" class="service-btn">View More</a>
            </div>

             <div class="service-card">
                <img src="{% static 'images/services/welder.png' %}" alt="Image not found">
                <h3>Welder</h3>
                <p>Metal fabrication, welding works, gate repairs.</p><br>
                <a href="{% url 'Welder' %}" class="service-btn">View More</a>
            </div>

            <div class="service-card">
                <img src="{% static 'images/services/loading_unloading.png' %}" alt="Image not found">
                <h3>Loading / Unloading</h3>
                <p>Transport helpers, warehouse labour.</p><br>
                <a href="{% url 'Loading_Unloading' %}" class="service-btn">View More</a>
            </div>

            <div class="service-card">
                <img src="{% static 'images/services/cleaning_house_keeping.png' %}" alt="Image not found">
                <h3>Cleaning & Housekeeping</h3>
                <p>Home cleaning, office cleaning, domestic helpers.</p>
                <a href="{% url 'Cleaning_Housekeeping' %}" class="service-btn">View More</a>
            </div>

            <div class="service-card">
                <img src="{% static 'images/services/AC_Technician.png' %}" alt="Image not found">
                <h3>AC Technician</h3>
                <p>AC installation, servicing, gas filling.</p><br>
                <a href="{% url 'AC_Technician' %}" class="service-btn">View More</a>
            </div>

            <div class="service-card">
                <img src="{% static 'images/services/Security_Guard.png' %}" alt="Image not found">
                <h3>Security Guard</h3>
                <p>Residential, commercial and event security.</p><br>
                <a href="{% url 'Security_Guard' %}" class="service-btn">View More</a>
            </div>

            <div class="service-card">
                <img src="{% static 'images/services/Gardener.png' %}" alt="Image not found">
                <h3>Gardener</h3>
                <p>Garden maintenance, lawn cutting, plant care.</p><br>
                <a href="{% url 'Gardener' %}" class="service-btn">View More</a>
            </div>

            <div class="service-card">
                <img src="{% static 'images/services/cook.png' %}" alt="Image not found">
                <h3>Cook</h3>
                <p>Home cooks, event cooks, catering support.</p><br>
                <a href="{% url 'Cook' %}" class="service-btn">View More</a>
            </div>

            <div class="service-card">
              <img src="{% static 'images/services/CCTV_Technician.png' %}" alt="Image not found">
              <h3>CCTV Technician</h3>
              <p>CCTV installation, maintenance, security systems.</p><br>
              <a href="{% url 'CCTV_Technician' %}" class="service-btn">View More</a>
            </div>

            <div class="service-card">
               <img src="{% static 'images/services/Solar_Panel_Technician.png' %}" alt="Image not found">
               <h3>Solar Panel Technician</h3>
               <p>Solar installation, maintenance, inverter setup.</p>
               <a href="{% url 'Solar_Panel_Technician' %}" class="service-btn">View More</a>
            </div>

            <div class="service-card">
                <img src="{% static 'images/services/Constructor_Helper.png' %}" alt="Image not found">
                <h3>Construction Helper</h3>
                <p>Site helpers, daily wage labour support.</p><br>
                <a href="{% url 'Construction_Helper' %}" class="service-btn">View More</a>
            </div>

            <div class="service-card">
              <img src="{% static 'images/services/Babysitter.png' %}" alt="Image not found">
              <h3>Babysitter</h3>
              <p>Child care, day & night babysitting services.</p><br>
              <a href="{% url 'Babysitter' %}" class="service-btn">View More</a>
            </div>

            <div class="service-card">
              <img src="{% static 'images/services/Elder_Care_Assistant.png' %}" alt="Image not found">
              <h3>Elder Care Assistant</h3>
              <p>Senior citizen care, home assistance.</p><br>
              <a href="{% url 'Elder_Care_Assistant' %}" class="service-btn">View More</a>
            </div>

            <!-- Agriculture & Outdoor -->
            <div class="service-card">
              <img src="{% static 'images/services/Agricultural_Worker.png' %}" alt="Image not found">
              <h3>Agricultural Worker</h3>
              <p>Farming, harvesting, field labour.</p><br>
              <a href="{% url 'Agricultural_Worker' %}" class="service-btn">View More</a>
            </div>

            <div class="service-card">
              <img src="{% static 'images/services/Pest_Control_Worker.png' %}" alt="Image not found">
              <h3>Pest Control Worker</h3>
              <p>Pest treatment, sanitation services.</p><br>
              <a href="{% url 'Pest_Control_Worker' %}" class="service-btn">View More</a>
            </div>

        </div>
    </div>

</body>
</html>
