{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'users/user_register.css' %}">
    <title>User registration</title>
</head>
<body>

<nav>
    <marquee><h3>Labour management system</h3></marquee>
</nav>

<div class="container">
    <div class="form-card">
        <h2 class="form-title">User Registeration</h2>

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}

            <input type="submit" value="Register">
        </form>
    </div>
</div>
</body>
</html>
