{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'services/otp_verification.css' %}">
    <title>OTP verification</title>
</head>
<body>
    <div class="booking-container">
    <div class="booking-card">
        <h2 class="booking-title">Verify Email OTP</h2>

        <form method="POST">
            {% csrf_token %}
            <label>Enter OTP</label>
            <input type="text" name="otp" required>
            <button type="submit">Verify</button>
        </form>

        {% if error %}
            <p class="error-msg">{{ error }}</p>
        {% endif %}
    </div>
</div>

    
</body>
</html>