<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plumber Services</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'services/service.css' %}">
</head>

<body>

<!-- HERO SECTION -->
<section class="hero">
    <div class="hero-text">
        <h1>Plumber Services</h1>
        <p>Professional plumbing services for your home and office.</p>
    </div>
    <img src=" {% static 'images/Plumber_Service/plumber.jpg' %}" alt="Plumber">
</section>

<!-- SERVICES LIST -->
<h2 class="section-title">Our Services</h2>

<div class="services-box">
    <ul>
        <li>Leakage Repair</li>
        <li>Tap & Mixer Installation / Repair</li>
        <li>Bathroom Plumbing</li>
        <li>Toilet / WC Services</li>
        <li>Sink & Basin Services</li>
    </ul>
</div>

<!-- AVAILABLE Plumbers -->
<h2 class="section-title">Available Plumbers</h2>

<div class="workers">

    <div class="worker-card">
        <img src="https://randomuser.me/api/portraits/men/33.jpg">
        <h3>Aditya Kumar</h3>
        <p class="experience">6+ years experience</p>
        <span class="status available">Available</span>
        <a href="book-now" class="hire-btn">Hire Now</a>
    </div>

    <div class="worker-card">
        <img src="https://randomuser.me/api/portraits/men/49.jpg">
        <h3>Suresh Krishna</h3>
        <p class="experience">2+ years experience</p>
        <span class="status busy">Busy</span>
        <a href="#" class="hire-btn disabled">Unavailable</a>
    </div>

    <div class="worker-card">
        <img src="https://randomuser.me/api/portraits/women/50.jpg">
        <h3>Vamsi Krishna</h3>
        <p class="experience">4+ years experience</p>
        <span class="status available">Available</span>
        <a href="#" class="hire-btn">Hire Now</a>
    </div>

    <div class="worker-card">
        <img src="https://randomuser.me/api/portraits/men/51.jpg">
        <h3>Raja Singh</h3>
        <p class="experience">8+ years experience</p>
        <span class="status available">Available</span>
        <a href="#" class="hire-btn">Hire Now</a>
    </div>

    <div class="worker-card">
        <img src="https://randomuser.me/api/portraits/men/52.jpg">
        <h3>Eswar vanshi</h3>
        <p class="experience">4+ years experience</p>
        <span class="status busy">Busy</span>
        <a href="#" class="hire-btn disabled">Unavailable</a>
    </div>

    <div class="worker-card">
        <img src="https://randomuser.me/api/portraits/men/53.jpg">
        <h3>Rajinish</h3>
        <p class="experience">2+ years experience</p>
        <span class="status available">Available</span>
        <a href="#book-now" class="hire-btn">Hire Now</a>
    </div>

</div>

<a href="{% url 'book-worker'%}" class="book-btn" id="book-now">Book an Plumber →</a>

</body>
</html>
