{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'services/success.css' %}">
    <title>Success Message</title>
</head>
<body>
    <div class="booking-card">
    <h2>Booking Confirmed 🎉</h2>
    <p>
        Thank you {{ booking.customer_name }}.<br>
        Your {{ booking.service_type }} service has been booked successfully.
    </p>
       <a href="{% url 'homepage' %}" class="service-btn">Home-Page</a>
       <a href="#" class="service-btn">Sign Out</a> 
    </div>

    <div>
        
    </div>


</body>
</html>